dogapi==1.2.1
django-extensions==1.5.9
django-model-utils==2.3.1
# Use the same DRF version as edx-platform
git+https://github.com/edx/django-rest-framework.git@1ceda7c086fddffd1c440cc86856441bbf0bd9cb#egg=djangorestframework==3.6.3
jsonfield==1.0.3
pytz
